<form style="background-color:#A55CBA ;">
<h2 style="text-align:center; color: aliceblue;" >Venta de boletos</h2>
<ul>
    <li>
<label for="Name">Full name:</label>
<input  type="text" [(ngModel)]="Name">
</li>
<br>
<li>
<label for="email">Email:</label>
<input  type="text" [(ngModel)]="Email">
</li>
<br>
<li>
<label for="contrasena">Password:</label>
<input  type="text" [(ngModel)]="contrasena">
</li>
<br>
<li>
<label for="confirm">Confirm Password:</label>
<input  type="text" [(ngModel)]="confirma"><br>
</li>
<br>
<li>
    <label for="tel">Phone number:</label>
    <input  type="text" [(ngModel)]="phone"><br>
    </li>
</ul>
<br>
<button (click)="almacena()" (click)="navega()">Resultados de formulario</button>
</form>
