<form style="background-color:#A55CBA ;">
<h2 style="text-align:center; color: aliceblue;" >Venta de boletos</h2>
<ul>
    <li>
<label for="name">Full name:</label>
<input  type="text" [(ngModel)]="name">
</li>
<br>
<li>
<label for="email">Email:</label>
<input  type="text" [(ngModel)]="correo">
</li>
<br>
<li>
<label for="password">Password:</label>
<input  type="text" [(ngModel)]="contra"><br>
</li>
<br>
<li>
<label for="confirm">Confirm Password:</label>
<input  type="text" [(ngModel)]="confirma"><br>
</li>
<br>
<li>
    <label for="tel">Phone number:</label>
    <input  type="text" [(ngModel)]="phone"><br>
    </li>
</ul>
<br>
<button (click)="almacena()" (click)="pagina2()" >Resultados de formulario</button>
</form>
